<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">HouseMate</a>
        <a href="{{ url_for('todo') }}">To-Do List</a>
        <a href="{{ url_for('completed') }}" class="active">Completed Tasks</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <main>
        <h2 class="title">Completed Tasks</h2>
        <div class="content_container">
            <ul class="completed-task-list">
                {% for task in completed_tasks %}
                <li>
                    {{ task.task }} (completed by {{ task.completed_by }})
                </li>
                {% else %}
                <p>There are no completed tasks yet</p>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>