<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" class="active">HouseMate</a>
        <a href="{{ url_for('todo') }}">To-Do List</a>
        <a href="{{ url_for('completed') }}">Completed Tasks</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>

    <main>
        <div class="content_container">
            <form action="{{url_for('set_name')}}" method="post" class="name">
            <label for="name">What is your name?</label>
            <input type="text" name="name" required>
            <button type="submit">Enter</button>
            </form>
        </div>
    </main>
</body>
</html>