<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">HouseMate</a></li>
            <li><a href="todo.html">To-Do List</a></li>
            <li><a href="completed.html">Completed Tasks</a></li>
            <li><a href="leaderboard.html">Leaderboard</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <div>
        <form action="{{url_for('set_name')}}" method="post">
        <label for="name">What is your name?</label>
        <input type="text" name="name" required>
        <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>