<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">HouseMate</a>
        <a href="{{ url_for('todo') }}">To-Do List</a>
        <a href="{{ url_for('completed') }}">Completed Tasks</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>

    <main>
        <h1>Leaderboard</h1>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>No. tasks complted</th>
                </tr>
                <tr>
                    {% for housemate, score in housemate %}
                </tr>
                <tr>
                    <td>{{ housemate }}</td>
                    <td>{{ score }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer>
        <a href="https://www.freepik.com/free-photo/overhead-view-spray-bottle-sponge-yellow-backdrop_4822625.htm#fromView=search&page=1&position=6&uuid=5a7f5fbc-b00e-4f9b-9dc7-9e06dedc633e">Image by freepik</a>
    </footer>
</body>
</html>