<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">HouseMate</a>
        <a href="{{ url_for('todo') }}">To-Do List</a>
        <a href="{{ url_for('completed') }}">Completed Tasks</a>
        <a href="{{ url_for('leaderboard') }}" class="active">Leaderboard</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <main>
        <h2 class="heading">Leaderboard</h2>
        <div class="content_container">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Completed Tasks</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    {% for housemate, score in housemate %}
                </tr>
                <tr>
                    <td>{{ housemate }}</td>
                    <td>{{ score }} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>