<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HouseMate | Home</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">HouseMate</a>
        <a href="{{ url_for('todo') }}" class="active">To-Do List</a>
        <a href="{{ url_for('completed') }}">Completed Tasks</a>
        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <main>
        <h2 class="heading">To Do List:</h2>
        <div class="content_container">
            <form method="post" class="add-task">
                <label for="task">Add a new task</label>
                <input type="text" name="task" required>
                <button type="submit">Add Task</button>
            </form>
            <ul class="to-do-list">
                {% for task in tasks %}
                <li>
                    &#9900 {{ task.task }} (added by {{ task.added_by }})
                    <form action="{{ url_for('complete_task', task_index=loop.index0) }}" method="post" class="complete-task-form">
                        <button type="submit">Complete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>